<li class="action-bar-list"><a onclick=toggleMenu('example-sub-list'); href="#">Example</a></li>
<div class="sub-action-bar-div" id="example-sub-list">
  <ul class="sub-action-bar">
    <li class="sub-action-bar-list"><a href="/example/list" target="work-frame">Example</a></li>
  </ul>
</div>

